<%= erb :"common/header" %>

<h1>Login</h1>

<form method="post" action="/login">

<% unless @error.nil? %>
<p><strong class="error"><%= @error %></strong></p>
<% end %>

<p>Username: <br /><input type="text" name="username" value="<%= @user.username %>"/></p>
<% if @user.errors.include?("username") %>
  <% @user.errors["username"].each do |error| %>
    <p class="error"><strong>Username <%= error %></strong></p>
  <% end %>
<% end %>

<p>Password: <br /><input type="password" name="password" /></p>
<% if @user.errors.include?("password") %>
  <% @user.errors["password"].each do |error| %>
    <p class="error"><strong>Password <%= error %></strong></p>
  <% end %>
<% end %>

<p><input type="submit" value="Submit"></p>

</form>

<%= erb :"common/footer" %>
