<html>
<head>
    <title>Football Players Database</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
  <h1>Football Players</h1>
  <% if @players.count > 0 %>
    <table>
      <tr>
        <th>Name</th>
        <th>Club</th>
        <th>Nationality</th>
        <th>Country</th>
        <th>Age</th>
      </tr>
    <% @players.each do |player| %>
      <tr>
        <td><%=h player.name %></td>
        <td><%=h player.club %></td>
        <td><%=h player.country %></td>
        <td><%=h player.position %></td>
        <td><%=h player.age %></td>
      </tr>
    <% end %> 
    </table>
  <% else %>
    <p>The database is empty!</p>
  <% end %>
</body>
</html>
