<p class="label">First name</p>
<p class="field"><input type="text" name="first_name" value="<%= h @player.first_name %>" /></p>
<% if @player.errors.include?("first_name") %>
  <% @player.errors["first_name"].each do |error| %>
    <p class="error"><strong>First name <%= error %></strong></p>
  <% end %>
<% end %>

<p class="label">Surname</p>
<p class="field"><input type="text" name="surname" value="<%= h @player.surname %>" /></p>
<% if @player.errors.include?("surname") %>
  <% @player.errors["surname"].each do |error| %>
    <p class="error"><strong>Surname <%= error %></strong></p>
  <% end %>
<% end %>

<p class="label">Gender</p>
<p class="field"><input type="text" name="gender" value="<%= h @player.gender %>" /></p>
<% if @player.errors.include?("gender") %>
  <% @player.errors["gender"].each do |error| %>
    <p class="error"><strong>Gender <%= error %></strong></p>
  <% end %>
<% end %>

<p class="label">Club</p>
<p class="field"><input type="text" name="club" value="<%= h @player.club %>" /></p>
<% if @player.errors.include?("club") %>
  <% @player.errors["club"].each do |error| %>
    <p class="error"><strong>Club <%= error %></strong></p>
  <% end %>
<% end %>

<p class="label">Country</p>
<p class="field"><input type="text" name="country" value="<%= h @player.country %>" /></p>
<% if @player.errors.include?("country") %>
  <% @player.errors["country"].each do |error| %>
    <p class="error"><strong>Country <%= error %></strong></p>
  <% end %>
<% end %>

<p class="label">Position</p>
<p class="field"><input type="text" name="position" value="<%= h @player.position %>" /></p>
<% if @player.errors.include?("position") %>
  <% @player.errors["position"].each do |error| %>
    <p class="error"><strong>Position <%= error %></strong></p>
  <% end %>
<% end %>

<p class="label">Date of Birth (in the form YYYY-MM-DD)</p>
<p class="field"><input type="text" name="date_of_birth" value="<%= h @player.date_of_birth %>" /></p>
<% if @player.errors.include?("date_of_birth") %>
  <% @player.errors["date_of_birth"].each do |error| %>
    <p class="error"><strong>Date of Birth <%= error %></strong></p>
  <% end %>
<% end %>

<p class="submit"><input type="submit" value="Submit" /></p>